@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #121212;
  --post-container-bg: #e7e7e7 ;
  --navbar-options-text: #121212;
  --navbar-options-hover: #e5e5e5;
  --buttons-bg: #e5e5e5;
  --scroll-bar-progressing: #eee;
  --br-principal: #e6a4b4;
  --br-principal-hover: #cc7087;
  --about-bg: rgba(231,231,231,0.7);
  --particles-fill:rgba(0, 0, 0, 0.7);
  --footer-background: #1a1a1a;
  --footer-text: #f5f5f5;
  --border: rgba(255, 255, 255, 0.1);
  --accent: #e6a4b4;
}
html {
  scroll-behavior: smooth;
}

.dark {
  --background: #212121;
  --foreground: #ededed;
  --post-container-bg: #171717; 
  --navbar-options-text: #d3d3d3;
  --navbar-options-hover: #2a2a2a; 
  --buttons-bg: #2a2a2a;
  --scroll-bar-progressing: #2f2f2f;
  --br-principal: #00a743;
  --br-principal-hover: #007c32;
  --about-bg: rgba(23,23,23,0.7);
  --particles-fill:rgba(255, 255, 255, 0.7);
  --footer-background: #0a0a0a;
  --footer-text: #f5f5f5;
  --border: rgba(255, 255, 255, 0.1);
  --accent: #00a743;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}









